*

!/prisma/migrations/**
!/prisma/schema.prisma
!/src/**
!/static/**

!/.eslintignore
!/.eslintrc.cjs
!/.npmrc
!/.prettierignore
!/.prettierrc
!/LICENSE
!/package.json
!/pnpm-lock.yaml
!/postcss.config.js
!/README.md
!/svelte.config.js
!/tailwind.config.ts
!/tsconfig.json
!/vite.config.ts

**/.DS_Store
