@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "NotoSansSC";
	src: url("/fonts/NotoSansSC-VariableFont_wght.ttf") format("ttf");
	font-weight: normal;
	font-style: normal;
}

:root {
	/* no-animation */
	--btn-focus-scale: 1 !important;
	--animation-btn: 0 !important;
	--animation-input: 0 !important;

	/* 90deg angles */
	--rounded-box: 0rem !important;
	--rounded-btn: 0rem !important;
	--rounded-badge: 0rem !important;
}
